# Build and Release Folders
bin-debug/
bin-release/
release/
lib/
com/greensock/

# Project property files
#.actionScriptProperties
#.flexProperties
.settings/
.settings/ShowHow_publishProfile.xml
#.project